:root {
    --background-color: #ffffff;
    --color-graphite-black: #191919;
    --page-text-color: var(--color-graphite-black);
    --kagi-highlight: #ffb319;
    --kagi-highlight-hover: #af872a;
    --beta-tag-bg: #ffb319;
    --beta-tag-text: #191919;
    --beta-tag-inside-corners: #fd6820;
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(229, 229, 229);
    --color-primary-dim_1: rgba(0, 0, 0, 0.1);
    --color-primary-dim_2: rgba(0, 0, 0, 0.2);
    --color-primary-dim_25: rgba(0, 0, 0, 0.25);
    --color-primary-dim_3: rgba(0, 0, 0, 0.3);
    --color-primary-dim_4: rgba(0, 0, 0, 0.4);
    --color-primary-dim_5: rgba(0, 0, 0, 0.5);
    --color-primary-dim_6: rgba(0, 0, 0, 0.6);
    --color-primary-dim_7: rgba(0, 0, 0, 0.7);
    --color-primary-dim_8: rgba(0, 0, 0, 0.8);
    --color-primary-dim_9: rgba(0, 0, 0, 0.9);
    --color-secondary-dim_1: rgba(229, 229, 229, 0.1);
    --color-secondary-dim_2: rgba(229, 229, 229, 0.2);
    --color-secondary-dim_4: rgba(229, 229, 229, 0.4);
    --color-secondary-dim_5: rgba(229, 229, 229, 0.5);
    --color-secondary-dim_6: rgba(229, 229, 229, 0.6);
    --color-secondary-dim_7: rgba(229, 229, 229, 0.7);
    --color-secondary-dim_8: rgba(229, 229, 229, 0.8);
    --color-primary_hover: #4835bc;
    --color-primary_visited: #6b3286;
    --input-bg: #f7f6f2;
    --doggo-color-1: #ffffff;
    --header-bg: rgb(247, 246, 242);
    --header-bg-opac: rgba(247, 246, 242, 0);
    --header-bg_hover: rgb(247, 246, 242);
    --auto-suggestion-bg: #f8f7f3;
    --auto-suggestion-border: var(--color-primary-dim_2);
    --app-logo: #191919;
    --app-logo-bg: #ffb319;
    --footer-bg: rgba(229, 229, 229, 0.5);
    --control-center-dd-bg: var(--color-primary-dim_1);
    --control-center-dd-bg_hover: rgba(25, 25, 25, 0.15);
    --control-center-dd-list: #e5e5e5;
    --control-center-dd-list-bg_hover: var(--color-primary-dim_1);
    --control-center-dd-list-text: var(--color-primary);
    --control-center-bg: white;
    --control-center-dd-border: transparent;
    --filters-clear-btn-icon: #fd6820;
    --filter-dd-bg: #f2f0e7;
    --cc-filters-active-bg: #bfbfbf;
    --k-tooltip-bg: rgba(25, 25, 25, 0.9);
    --k-tooltip-text: #ffffff;
    --dd-hover-bg: var(--color-secondary);
    --not-found-bubble-bg: #f2f2f2;
    --app-sidebar-bg: #f7f6f2;
    --app-sidebar-item-border: rgba(25, 25, 25, 0.2);
    --app-sidebar-link: rgba(25, 25, 25, 0.6);
    --app-sidebar-nav-item-bg_hover: #ffb319;
    --app-sidebar-nav-item-link_hover: #191919;
    --app-sidebar-nav-item-icon_hover: #191919;
    --lense-item-color-mobile: #e5e5e5;
    --app-sidebar-lense-link: rgba(25, 25, 25, 0.6);
    --app-sidebar-lense-link_hover: #191919;
    --ranked-box-overlay-bg: rgba(25, 25, 25, 0.85);
    --ranked-box-wrapper-bg: var(--color-secondary);
    --ranked-box-connection-secure: #529348;
    --ranked-box-connection-insecure: #da5819;
    --ranked-box-icon-ads-trackers-empty: transparent;
    --ranked-box-icon-normal-bg: #ffffff;
    --ranked-box-tracker-no-info: #191919;
    --ranked-box-info-section-icon-c1: var(--ranked-box-wrapper-bg);
    --ranked-box-toggle-switch-ch1-text: #ffffff;
    --ranked-box-toggle-switch-ch1-bg: var(--ranked-box-connection-insecure);
    --ranked-box-toggle-switch-ch3-text: #191919;
    --ranked-box-toggle-switch-ch3-bg: #ffb319;
    --ranked-box-toggle-switch-ch3-svg-bg: #ffffff;
    --ranked-box-settings-btn-bg: #ffffff;
    --ranked-box-info-tooltip-icon: #191919;
    --ranked-box-tracker-desc-danger: #da5819;
    --ranked-box-tracker-desc-clear: #529348;
    --result-item-title-border: #a9a9a9;
    --result-item-title-border_hover: rgba(68, 77, 165, 0.5);
    --result-item-title-visited-border: #e0d3e7;
    --result-rank-icon-stroke_promoted: var(--color-primary);
    --result-rank-icon-bg_promoted: #ffb319;
    --result-rank-icon-bg_ban: var(--color-primary);
    --k-tooltip-tracker_bg: #191919;
    --result-item-highlight: #4835bc;
    --search-result-content-text: var(--color-primary-dim_6);
    --search-result-group-item-link: var(--color-primary);
    --search-result-url-link: var(--color-primary-dim_8);
    --search-result-title: var(--color-primary);
    --search-result-date-new-bg: #e0f9ff;
    --search-result-date-new: #536471;
    --inline-header-title: var(--color-primary);
    --inline-widget-bg: #f2f2f2;
    --related-item-bg: #f2f2f2;
    --username-button-bg: #f2f0e7;
    --ranked-tabs-border: var(--color-secondary);
    --video-item-bg: rgba(229, 229, 229, 0.5);
    --auto-sugg-bg_hover: var(--color-secondary);
    --provider-breakdown_server: #79d5f1;
    --provider-breakdown_client: #ffa500;
    --provider-breakdown_speed1: papayawhip;
    --provider-breakdown_speed2: lightcoral;
    --provider-breakdown_speed3: orangered;
    --widget-progress_bar: #191919;
    --translate-fc_icon: #191919;
    --rating-star_background: #f2f2f2;
    --wiki-title: var(--color-primary);
    --wiki-content-links: var(--color-primary);
    --toggle-switch-knob-bg: var(--color-secondary);
}