/*
 * File Created: Wednesday, 27th October 2021
 * Author: Chris Merrill (clamerrill02@gmail.com)
 * -----
 * Last Modified: Wednesday, 27th October 2021
 * -----
 * Copyright 2021 - 2021 FluffyKitty
 */


/*
 * File Created: Wednesday, 27th October 2021
 * Author: Chris Merrill (clamerrill02@gmail.com)
 * -----
 * Last Modified: Wednesday, 27th October 2021
 * -----
 * Copyright 2021 - 2021 FluffyKitty
 */

:root {
    --border-radius: 4dp;
}

.autosugg-landing {
    .search-submit-wrapper {
        #searchFormSubmit {
            &:before {
                content: "Kagi  ";
            }
            &:after {
                content: "  Teehee...";
            }
        }
    }
}

.logo {
    svg {
        height: 92pt;
        aspect-ratio: auto 272/92;
        width: 400pt;
        text-align: -webkit-center;
        position: relative;
        right: 165pt;
        top: 100pt;
    }
}

button {
    padding: 12pt;
    background-color: var(--color-secondary);
    font-size: 14pt;
    color: var(--color-secondary);
    border: none;
    border-radius: var(--border-radius);
    height: 40dp;
}

.btn.--secondary {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    &:hover {
        color: var(--color-secondary);
        background-color: var(--color-primary_hover);
    }
}

.button.btn-search {
    color: var(--color-primary);
    &.--active {
        background-color: var(--app-logo-bg);
        color: var(--color-secondary);
    }
}

.search-submit-wrapper {
    button[type=submit] {
        position: relative;
        bottom: 40pt;
    }
}

.footer.footer-landing {
    .footerInner {
        ul {
            li {
                a {
                    color: var(--result-item-title-border);
                }
            }
        }
    }
}

.center-content-box {
    .search-form {
        .search-input-container {
            .search-input {
                border-radius: var(--border-radius);
                border-bottom: var(--color-primary) solid 2pt;
            }
        }
    }
}

.app-sidebar {
    background-color: var(--color-primary);
    .app-sidebar-content {
        background-color: var(--search-result-date-new-bg);
    }
}